/* Color Theme Swatches in Hex */
@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Monoton&display=swap");
@font-face {
  font-family: 'rr breaver';
  src: url("https://res.cloudinary.com/dardnms81/raw/upload/v1620263100/twmwmx4v9yr2joyjy75z.ttf") format("truetype");
}

p {
  margin-bottom: 0rem !important;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-start-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-end-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-between-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-between-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-arround-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-arround-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-arround-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flex-center-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-center-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flex-center-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.flex-center-arround {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
}

.flex-start-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.no-m-p {
  margin: 0;
  padding: 0;
}

.default {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}

.custom-img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  margin: auto !important;
  display: block;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  overflow-x: hidden !important;
  background-color: #000000 !important;
  color: #8C8C8C !important;
  font-family: "Barlow", sans-serif !important;
  font-size: 1.5rem !important;
  font-weight: 400 !important;
  /*   .swipper_modal_full{
    opacity: 0;
    transition: 500ms all ease-in-out;
    z-index: -1;
    background-color: rgba($color: $primary-light, $alpha: 0.65);
    .wrapper_dialog_modal{
      transform: scale(0);
      max-width: 90%;
      max-height: 80%;
      background-color: $primary;
      border-radius: 20px;   
      position: relative;
      transition: 500ms all ease-in-out;
      .btn-close{
        position: absolute;
        width: fit-content;
        height: fit-content;
        top: 1em;
        right: 1em;
        z-index: 1032;
      }   
      .swiper-container{
        border-radius: 20px;
        
        .swiper-slide{
          border-radius: 20px;
          position: relative;
          width: 100% !important;
          @include breakpoint-down(medium){
            height: 50vh;
          }
          img{
            border-radius: 20px;
            width: 100%;
            object-fit: cover;
            @include breakpoint-down(medium){
              height: 50vh;
            }
            object-position: center center;
          }
          .swiper-content{
            position: absolute;
            bottom: 1em;
            left: 3em;
            right: 0;
            color: $primary-dark;
            font-weight: $font-w-bold;
          }
        }
        .swiper-button-prev, .swiper-button-next{
          color: $secondary-dark;
          margin: 0 20px;
        }
      }
    }

    &.show{
      opacity: 1;
      z-index: 1034;
      .wrapper_dialog_modal{
        transform: scale(1);
      }
    }
  } */
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
}

body::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #8C8C8C;
}

body .container_product .wrapper_container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 100vh;
  /*           .colum_left{
              flex: 0 0 auto;
              max-width: 50vw;
              width: 100%;
              @include breakpoint-down(large){
                max-width: 100vw;
                max-height: 60%;
                order: 2;
              }
              .content_colum{
                  position: relative;
                ._colors{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    z-index: -1 ;
                    @include breakpoint-down(medium){
                      background-color: $black;
                    }
                    .item_color{                       
                        width: 100%;
                        height: 100%;
                        &:nth-child(1){
                            display: block;
                            max-width: 100%;
                            max-height: 70%;
                            background-color: $secondary;
                            @include breakpoint-down(medium){
                              display: none;
                            }
                        }
                        &:nth-child(2){
                            display: inline-block;
                            max-width: 50%;
                            max-height: 30%;
                            background-color: $secondary-light;
                            @include breakpoint-down(medium){
                              max-height: 100%;
                            }
                        }
                        &:nth-child(3){
                            display: inline-block;
                            max-width: 50%;
                            max-height: 30%;
                            background-color: $secondary-dark;
                            @include breakpoint-down(medium){
                              max-height: 100%;
                            }
                        }
                    }
                }
                .product_image{
                  display: flex;
                  .wrapper_image{
                    max-height: 80%;
                    margin: auto 0;
                    overflow: hidden;
                    flex: 0 0 auto;
                    video{
                      z-index: 10;
                    }
                  }
                }
              }
          }
          .column_right{
            flex: 0 0 auto;
            max-width: 50vw;
            width: 100%;
            background-color: $primary-dark;
            @include breakpoint-down(large){
              max-width: 100vw;
              max-height: 20%;
              order: 1;
            }
            .content_column{
              flex-direction: column;
              .upper_description{
                flex: 1 1 auto;
                max-height: 80vh;  
                .content_description{
                  padding: 1em 1.2em;  
                  flex-direction: column;
                  h1{
                    margin-bottom: 0;
                    font-family: $font-title;
                    font-weight: $font-w-bold;
                    text-align: center;
                    word-wrap: break-word;
                    overflow-wrap: break-word;
                    color: $white;
                    width: 100%;
                    letter-spacing: 5px;
                    font-size: calc(-17.90698px + 15.31395vw);
                    span{
                      color: $accent-light;
                    }
                    @include breakpoint-up(medium){
                      font-size: calc(-17.90698px + 6.31395vw);
                    }
                  } 
                  .text-description{
                    font-size: $font-small;
                    font-weight: $font-w-tiny;
                    color: $white;
                    text-align: start;
                    flex: 1 1 auto;
                    max-width: 90%;
                    width: 100%;
                    padding: 15px;
                    min-height: 150px;
                    @include breakpoint-down(medium){
                      display: none;
                      visibility: hidden;
                    }
                  }
                  .content-specifis{
                    max-width: 90%;
                    @include breakpoint-down(medium){
                      display: none;
                      visibility: hidden;
                    }
                    .wrapper_specifis{
                      flex-wrap: wrap;                      
                      .card{
                        flex: 0 0 auto;
                        max-width: 40%;
                        width: 100%;
                        min-height: 150px;
                        background-color: rgba($color: $primary-light, $alpha: 0.55);
                        @include breakpoint-down(xx-large){
                          max-width: 45%;
                        }
                        .card-body{
                          .card-text, .card-link{
                            font-size: $font-small;
                            color: $secondary-light;
                            text-decoration: none;
                            cursor: pointer;
                            &:hover, &:focus{
                              opacity: 0.55;
                            }
                          }
                        }
                      }
                    }
                  }
                }          
              }
              .commerce_box{
                flex: 1 1 auto;
                max-height: 100px;  
                @include breakpoint-down(medium){
                  position: fixed;
                  bottom: 0;
                  left: 0;
                  right: 0;
                  max-height: 68px;
                  background-color: $black;
                  z-index: 1032;
                }
                .content_description{
                  padding: 5px 1em;
                  border-top: 1px solid $secondary-dark;
                  
                  .price-box{
                    width: fit-content;
                    padding: 10px 2em;
                    font-weight: $font-w-bold;
                    color: $secondary-dark;
                    @include breakpoint-down(medium){
                      padding: 10px 5px;
                    }
                    @include breakpoint-down(medium){
                      font-size: $font-small;
                    }
                  }
                  .btn-sale{
                    padding: 5px 3em;
                    background-color: $secondary;
                    border-radius: 0;
                    font-weight: $font-w-e-bold;
                  }
                }
              }
            }
          }
          .column_bottom{
            @include breakpoint-up(large){
              display: none;
              visibility: hidden;
            }
            flex: 0 0 auto;
            width: 100%;
            max-width: 100vw;
            max-height: 60%;
            order: 3;
            background-color: $primary-dark;
            @include breakpoint-down(large){
              max-height: 70%;
              padding-bottom: 15em;
            }
            @include breakpoint-down(small){
              max-height: 80%;
            }
            .content_bottom{
              flex-direction: column;
              padding: 10px;
              @include breakpoint-down(medium){
                padding: 5px 0;
              }
              .text-description{
                font-size: $font-small;
                font-weight: $font-w-tiny;
                color: $white;
                text-align: start;
                flex: 0 0 auto;
                max-width: 90%;
                width: 100%;
                padding: 15px;
                max-height: 150px;
                @include breakpoint-down(medium){
                  max-width: 100%;
                  font-size: $font-e-small;
                }
              }
              .content-specifis{
                max-width: 90%;
                max-height: 40%;
                .wrapper_specifis{
                  flex-wrap: wrap;                      
                  .card{
                    flex: 0 0 auto;
                    max-width: 90%;
                    width: 100%;
                    min-height: 150px;
                    background-color: rgba($color: $primary-light, $alpha: 0.55);
                    margin: 10px;
                    @include breakpoint-down(medium){
                      max-width: 100%;
                    }
                    .card-body{
                      .card-text, .card-link{
                        font-size: $font-small;
                        color: $secondary-light;
                        text-decoration: none;
                        &:hover, &:focus{
                          opacity: 0.55;
                        }
                      }
                    }
                  }
                }
              }
            }
          } */
}

body .container_product .wrapper_container .upper_first_look {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-height: 90vh;
  background-color: #E7D360;
}

body .container_product .wrapper_container .upper_first_look .wrapper_upper .bg_overlay_video {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: 60%;
}

body .container_product .wrapper_container .upper_first_look .wrapper_upper .bg_overlay_video .wrapper_overlay {
  position: relative;
}

body .container_product .wrapper_container .upper_first_look .wrapper_upper .bg_overlay_video .wrapper_overlay video {
  max-height: 100%;
  max-width: 100%;
  margin-top: auto;
}

body .container_product .wrapper_container .upper_first_look .wrapper_upper .infity__fast_info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: 40%;
}

body .container_product .wrapper_container .upper_first_look .wrapper_upper .infity__fast_info .wrapper_fast {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em 10px;
}

body .container_product .wrapper_container .upper_first_look .wrapper_upper .infity__fast_info .wrapper_fast h1 {
  color: #070707;
  font-family: "rr breaver", sans-serif;
  font-weight: 800;
  line-height: 1.15;
  letter-spacing: 5px;
  text-align: center;
  padding-bottom: 0.25em;
  border-bottom: 5px solid #000000;
}

body .container_product .wrapper_container .upper_first_look .wrapper_upper .infity__fast_info .wrapper_fast h1 span {
  color: #1C6380;
}

@media (min-width: 35.99875em) {
  body .container_product .wrapper_container .upper_first_look .wrapper_upper .infity__fast_info .wrapper_fast h1 {
    font-size: calc(-17.90698px + 6.31395vw);
  }
}

body .container_product .wrapper_container .upper_first_look .wrapper_upper .infity__fast_info .wrapper_fast .content_description_list {
  margin: 2em 0;
}

body .container_product .wrapper_container .upper_first_look .wrapper_upper .infity__fast_info .wrapper_fast .content_description_list .wrpaper_descript {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 10px;
}

body .container_product .wrapper_container .upper_first_look .wrapper_upper .infity__fast_info .wrapper_fast .content_description_list .wrpaper_descript .item_list {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: calc(100% / 3.3);
  width: 100%;
  margin: 0 5px;
}

body .container_product .wrapper_container .upper_first_look .wrapper_upper .infity__fast_info .wrapper_fast .content_description_list .wrpaper_descript .item_list .content_item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .container_product .wrapper_container .upper_first_look .wrapper_upper .infity__fast_info .wrapper_fast .content_description_list .wrpaper_descript .item_list .content_item .icon_item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-height: 20%;
}

body .container_product .wrapper_container .upper_first_look .wrapper_upper .infity__fast_info .wrapper_fast .content_description_list .wrpaper_descript .item_list .content_item .icon_item i {
  font-size: 2.625rem;
  color: #0E3240;
  text-align: center;
}

body .container_product .wrapper_container .upper_first_look .wrapper_upper .infity__fast_info .wrapper_fast .content_description_list .wrpaper_descript .item_list .content_item .title_item {
  text-align: start;
  font-size: 1.255rem;
  margin: 20px 0;
  font-weight: 300;
  color: #303030;
}

body .container_product .wrapper_container .upper_first_look .wrapper_upper .infity__fast_info .wrapper_fast .content_bottom_actions {
  margin: 1em 0;
}

body .container_product .wrapper_container .upper_first_look .wrapper_upper .infity__fast_info .wrapper_fast .content_bottom_actions .wrapper_actions {
  padding: 1em;
  text-align: center;
}

body .container_product .wrapper_container .upper_first_look .wrapper_upper .infity__fast_info .wrapper_fast .content_bottom_actions .wrapper_actions .btn {
  width: calc(100% / 2.5);
  padding: 1em 2em;
  font-weight: 600;
  display: inline-block;
}

body .container_product .wrapper_container .upper_first_look .wrapper_upper .infity__fast_info .wrapper_fast .content_bottom_actions .wrapper_actions .btn.btn-sale {
  background-color: #070707;
  border-radius: 20px;
  border: 1px solid #000000;
  color: #FFFFFF;
}

body .container_product .wrapper_container .upper_first_look .wrapper_upper .infity__fast_info .wrapper_fast .content_bottom_actions .wrapper_actions .btn.btn-sale:hover, body .container_product .wrapper_container .upper_first_look .wrapper_upper .infity__fast_info .wrapper_fast .content_bottom_actions .wrapper_actions .btn.btn-sale:focus {
  background-color: transparent;
  color: #070707;
}

body .container_product .wrapper_container .upper_first_look .wrapper_upper .infity__fast_info .wrapper_fast .content_bottom_actions .wrapper_actions .btn.btn-more {
  color: #070707;
}

body .container_product .wrapper_container .upper_first_look .wrapper_upper .infity__fast_info .wrapper_fast .content_bottom_actions .wrapper_actions .btn.btn-more:hover, body .container_product .wrapper_container .upper_first_look .wrapper_upper .infity__fast_info .wrapper_fast .content_bottom_actions .wrapper_actions .btn.btn-more:focus {
  opacity: 0.75;
}

body .container_product .wrapper_container .middle_more_info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  min-height: 100vh;
}

body .container_product .wrapper_container .middle_more_info .wrapper_middle {
  padding: 0em 1em;
  padding-top: 60vh;
}

body .container_product .wrapper_container .middle_more_info .wrapper_middle .content_info_column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  min-height: 50vh;
}

body .container_product .wrapper_container .middle_more_info .wrapper_middle .content_info_column .wrapper_column {
  padding: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .container_product .wrapper_container .middle_more_info .wrapper_middle .content_info_column .wrapper_column .title-colum {
  color: #FFFFFF;
  padding: 0 3em;
  position: relative;
}

@media (min-width: 35.99875em) {
  body .container_product .wrapper_container .middle_more_info .wrapper_middle .content_info_column .wrapper_column .title-colum {
    font-size: calc(-17.90698px + 3.31395vw);
  }
}

body .container_product .wrapper_container .middle_more_info .wrapper_middle .content_info_column .wrapper_column .title-colum::after {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  max-width: 25%;
  content: '';
  height: 2px;
  background-color: #F2F2F2;
}

body .container_product .wrapper_container .middle_more_info .wrapper_middle .content_info_column .wrapper_column .title-colum::before {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  max-width: 25%;
  content: '';
  height: 2px;
  background-color: #FFFFFF;
  margin-left: auto;
}

body .container_product .wrapper_container .middle_more_info .wrapper_middle .content_info_column:first-child .wrapper_column {
  padding: 1em;
}

body .container_product .wrapper_container .middle_more_info .wrapper_middle .content_info_column:first-child .wrapper_column p {
  max-width: 60%;
  text-align: start;
  font-size: 2rem;
  line-height: 1.5;
  margin: 3em 0;
  padding: 0 1em;
}
/*# sourceMappingURL=details.css.map */